* {
    margin: 0;
    padding: 0;
}

.glass {
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(10px);
}